extends layout

block content
  h1= title

  - if (success)
    .message.info
      span= success
  - if (errors)
    .message.errors
      span= errors

  - if (!session.username)
    div(style='width:20em;line-height: 1.6;')
      div
        li
          a.button(href="/authCodeGrant") Authorization Code
        li
          a.button(href="/clientCredentials") Client Credentials
        li
          a.button(href="/implicitGrant") Implicit Grant
      form(action='/userCredentials',method='post')
        div
          label(for='email') email: &nbsp;
            input(id='email',type='text',value='',placeholder='@',name='email')
        div
          label(for='password') password: &nbsp;
            input(id='password',type='password',value='',placeholder='',name='password')
        div  
          ul
            li
              input.button(type='submit',value='User Credentials')
  div
    h3 Store Details
    a(href="app/store/urn:ngsi-ld:Store:001") Store 1
    | &nbsp;
    a(href="app/store/urn:ngsi-ld:Store:002") Store 2
    | &nbsp;
    a(href="app/store/urn:ngsi-ld:Store:003") Store 3
    | &nbsp;
    a(href="app/store/urn:ngsi-ld:Store:004") Store 4
 
  div
    h3 Monitors
    a(href="/app/monitor") App Monitor
    | &nbsp;
    a(href="/device/monitor") Device Monitor

  div
    h3 Restricted Areas
    - if (session.username)
      a(href="/price-change") Change Prices
      | &nbsp;
      a(href="/order-stock") Order Stock
      | &nbsp;
    - else
      a.red(href="/price-change") Change Prices
      | &nbsp;
      a.red(href="/order-stock") Order Stock
      | &nbsp; <= No Access



  div
    h3
    - if (session.username)
      a.button(href="/logout") Log out