doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      div(style="display:block;clear:both;")
        img(height="50px" src= "/img/fiware.png")
        - if (session && session.username)
          div(style="float:right")
            a(href="/logout") #{session.username}
      div(style="width=100%; padding-bottom: 10px; box-shadow: 0px 5px 0px 0px #000000;")

  block content
    h1= title
