extends layout

block content
    h1= title
    div
      p 
      | The price change area is only accessible by Bob and other managers
      p
      | This functionality has not been implemented yet.