extends layout

block content
  h1= title

  - if (stores.length)
    div
      h3 Device History for each Store

      ul
        each store in stores
          a(href=`${store.href}`)  #{store.name}
          | &nbsp;
  - else
    p.red No Device History available