extends layout

block content
  h1= title
  
  div(style="float: left; min-width=50%; padding: 5px; border: solid;")
    p Recent Requests:
    ul#messages

  div(style="float: left; min-width=50%; padding: 5px; border: solid;")
    p Recent Notifications:
    ul#notifications

  div(style="clear: both;")

  div(style="padding: 5px; border: solid;")
    p Last Payload:
    pre
      code#payload



  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  script.
    $(function () {
        var socket = io();
        socket.on('NGSI', function(msg){
            $('#messages').append($('<li>').text(msg));
            if($('#messages li').size() > 5){
                $('#messages li').first().remove();
            }
        });
        socket.on('health', function(msg){
            $('#messages').append($('<li>').text(msg));
            if($('#messages li').size() > 5){
                $('#messages li').first().remove();
            }
        });
        socket.on('queryContext', function(msg){
            $('#messages').append($('<li>').text(msg));
            if($('#messages li').size() > 5){
                $('#messages li').first().remove();
            }
        });
        socket.on('notify', function(msg){
            $('#notifications').append($('<li>').text(msg));
            if($('#notifications li').size() > 5){
                $('#notifications li').first().remove();
            }
        });
        socket.on('payload', function(msg){
            $('#payload').text(JSON.stringify(msg, null, " "));
        });
    });
