extends layout

block content
    h1= title
    div
      p 
      | The price change area is only accessible by Bob and other managers
      p
      | This functionality has not been implemented yet.
    div
      p By the way, the next 
        a(href='https://www.fiware.org/summit/') FIWARE summit
      | will take place on 21 – 22 May, 2018 in Genoa, Italy.