extends layout

include product

block header

block content
  h3 Items on Sale
  ul
    each item in inventory
      li
        +product(item, products, storeId)
        br

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  script.
    $(function () {
        var socket = io();
        socket.on( 'Product', function(msg){
        	// If we receive a products-updated event, reload the products.
           window.location.replace(window.location.pathname + window.location.search + window.location.hash);
        });
    });