extends layout

block header

block content

  h3 Warehouse Notifications
  ul(id="notifications" data-id=`${id}`)

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  script.
    $(function () {
        var socket = io();
        store = $('#notifications').data("id");
        socket.on( store, function(msg){
            // If we receive a store notification, list it on screen
            $('#notifications').append($('<li>').text(msg));
            if($('#notifications li').size() > 5){
                $('#notifications li').first().remove();
            }
        });
        $("form.device").submit(function(event){
          event.preventDefault();
          var serializedData = $(this).serialize();
          $.ajax({
              url: "/device/command",
              type: "post",
              data: serializedData
          });
        });
    });
