@import url('https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&ver=4.9.6#038;subset=latin,latin-ext');

body {
  padding: 10px;
  font: 14px;  
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  color:#4c4c4c; 
}

h1, h2, h3, h4 {
    color:#000000;     
    font-weight: 800;
    text-transform: uppercase;}

a {
  color: #00B7FF;
}

li.device {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
  padding-bottom: 2px;
  font-size: large;
}
ul.devices {
  list-style-type: none;
  padding: 5;
  margin: 0;
}

.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}

.button {
  font-size: small;
  text-decoration: none;
  background-color: #233c68;
  color: #efefefef;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
}

.red {
  color: #ff7059;
}